*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
html,body{
    height: 100%;
    font-weight: 700;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
img{
    vertical-align: top;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
h1,
h2,
h3,
p{
    font-weight: inherit;
    font-size: inherit;
}
.container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}
.header{
    background: url('../img/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.header-top {
    display: flex;
}
.header-top__logo {
    display: flex;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-right:132px;
}
.header-top__menu {
    display: flex;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;

}
.menu {
    min-height: 104px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.menu-logo{
    margin-right: 132px;
}
.menu-logo a{
    font-weight: bold;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #252B42;
}
.menu-nav{
    display: flex;
    flex-wrap: wrap;
}
.nav {
    margin-right: 21px;
}
.nav-item:last-child{
    margin: 0;
}
.nav-link {
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
}
.header-info {
    margin-top: 80px;
}
.header-info__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 128%;
    letter-spacing: 0.2px;
    color: #252B42;
    max-width: 396px;
}
.header-info__text {
    margin-top: 35px;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
    color: #737373;
    min-width: 376px;
}
.header-info__btns{
    margin-top: 35px;
    margin-bottom: 209px;
    display: flex;
}
.header-info__btns .btn_a{
    border: 1px solid #0d5c63;
    border-radius: 37px;
    padding: 0 35px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 187px;
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #0d5c63;
    margin-right: 10px;
}
.consulting{
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px; 
    width: 328px;
    height: 242px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}